@import "tailwindcss";

@theme {
    --color-primary: #8e5cff;
    --color-primary-deep: #5a2ccb;
    --color-primary-gradient: #b78cff;
    --color-accent: #ffd700;
    --color-accent-home:#F8CD8B;
    --color-accent-soft: #f5c542;
    --color-background: #f5f3fa;
    --color-backgound-home:#1B114E;
    --color-background-from: #efeaf9;
    --color-background-to: #e6dff7;
    --color-text-primary-home:#fff;
    --color-text-primary: #3E1D6D;
    --color-text-secondary: #3D3D3D;
    --color-button-from: #7a4cff;
    --color-button-to: #b78cff;
}

@layer base {
    body {
        background: linear-gradient(
            135deg,
            #f0fdf4 0%,
            #d8b4fe 55%,
            #a78bfa 100%
        );
        min-height: 100vh;
    }
}